*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid tomato; */
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}

:root {
  --main-color: #212121;
  --sec-color: #757575;
  --active-color: #2196f3;
  --icon-color: #afb1b8;
  --font-color: #fff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav,
.links {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  margin-right: 93px;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
}

.nav__text--black {
  color: var(--main-color);
}

.nav__text--white {
  color: var(--font-color);
}

.nav__links-header--active::after {
  content: '';
  display: block;
  position: relative;
  top: 32px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
}

/* Контакти */

.nav__links-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;
  display: inline-block;
  margin-right: 50px;

  transition: color 250ms var(--timing-function);
}

.links:last-child {
  margin-right: 0;
}

.nav__links-header:hover,
.nav__links-header:focus {
  color: var(--active-color);
}
.contacts__link-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 30px;

  display: flex;
  align-items: center;

  transition: color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.contacts__link-header:focus,
.contacts__link-header:hover {
  color: var(--active-color);
}

.contacts__list:last-child {
  margin-right: 0;
}

.contacts__list {
  display: flex;
  margin-left: 30px;
  justify-content: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  vertical-align: center;
}

.contacts__icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contacts__icon--email {
  width: 16px;
  height: 12px;
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
}

.contacts__svg {
  fill: var(--sec-color);
}

.contacts__link-header:focus .contacts__svg,
.contacts__link-header:hover .contacts__svg {
  fill: var(--active-color);
}

/* Герой  */
.hero {
  padding: 200px 0;
  background: #2f303a;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-size: 44px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}
/* Плюси компании */

.flex-company {
  display: flex;
  padding-top: 94px;
  justify-content: center;
  padding-bottom: 94px;
}

.company {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  width: 270px;
  height: 16px;
  margin-bottom: 10px;
}

.company-plus {
  font-size: 14px;
  line-height: 1.71;
  color: var(--sec-color);
  box-sizing: border-box;
  width: 270px;
  height: 75px;
}

.flex-company__list:not(:last-child) {
  margin-right: 30px;
  width: 270px;
  height: 100;
}

.list-card__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.list-card__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 70px;
  height: 70px;
}

/* Чем ми занимаємься */

.header-main {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.work {
  display: flex;
  padding-bottom: 94px;
}

.work__list:not(:last-child) {
  margin-right: 30px;
}

.work-card__img {
  display: block;
}

.work-card {
  position: relative;
}

.work-card__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work-card__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */

.our-team {
  background: #f5f4fa;
}

.team {
  display: flex;
}

.team__list {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-team {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.card-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.card-team__speciality {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}

/* Соцсети*/

.social-networks {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.social-networks__list:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 30px;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  border-radius: 50%;
  fill: #afb1b8;
  width: 44px;
  height: 44px;

  transition: background-color 250ms var(--timing-function);
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--active-color);
}

.social-networks__svg {
  fill: var(--sec-color);

  transition: fill 250ms var(--timing-function);
}

.social-networks__link:focus .social-networks__svg,
.social-networks__link:hover .social-networks__svg {
  fill: #ffffff;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Постоянные клиенты */
.clients {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.clients__list {
  flex-basis: calc(100% / 6)-30px;
  width: 170px;
  height: 92px;
}

.clients__list:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background: var(--font-color);
  fill: var(--icon-color);

  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

/* Футер */

.footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-footer {
  display: flex;
}

.footer-social {
  margin-left: 70px;
}

.footer-social__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.address__home {
  font-style: normal;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
}

.address__cont {
  font-style: normal;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  cursor: pointer;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--timing-function);
}

.social-networks__icon {
  fill: #ffffff;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--active-color);
}

.social-networks__link:focus .social-networks__svg,
.social-networks__link:hover .social-networks__svg {
  fill: #ffffff;
}

.address {
  margin-top: 20px;
}

.address__item:not(last-child) {
  margin-bottom: 10px;
}

/* Футер подписка */

.subscript {
  display: flex;
  margin-left: 93px;
  align-items: flex-end;
  padding-bottom: 45px;
}

.subscript__file {
  display: flex;
  flex-direction: column;
}

.subscript__button {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;

  background-color: var(--active-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscript__button:hover,
.subscript__button:focus {
  background-color: #188ce8;
}
.subscript__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscript__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscript__icon {
  margin-left: 10px;
}

/* Portfolio */
.portfolio-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки на портфолио */

.filter-button {
  display: flex;
  justify-content: center;
  padding: auto 8px;
  padding-bottom: 50px;
}

.portfolio-button {
  padding: 6px 22px;
  text-align: center;
  color: var(--main-color);
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: none;
  box-shadow: none;
  border-radius: 4px;
  margin-right: 8px;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-list__item:focus,
.portfolio-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
/* Список возможностей */
.portfolio-list__item:nth-child(-n + 7) {
  /* margin-right: 10px; */
  margin-bottom: 30px;
}
.portfolio-list__item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--timing-function);
}
.cards-portfolio__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.cards-portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.cards-portfolio__description {
  margin: 20px 24px;
}

/* Overflow портфоліо */
.cards-portfolio__icon {
  position: relative;
  display: flex;
  overflow: hidden;
}
.cards-portfolio__text-wraper {
  position: absolute;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);

  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cards-portfolio:focus .cards-portfolio__text-wraper,
.cards-portfolio:hover .cards-portfolio__text-wraper {
  transform: translateY(0);
  overflow: visible;
}

.cards-portfolio__img {
  display: block;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  width: calc(100% - 30px);
  max-width: 528px;
  height: calc(100% - 30px);
  max-height: 581px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0%;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-modal-button {
  position: absolute;
  top: 9px;
  right: 9px;
  bottom: 10px;
  left: 10px;
  transition: fill 250ms var(--timing-function);
}
.close-modal:focus .close-modal-button,
.close-modal:hover .close-modal-button {
  fill: var(--active-color);
}

/* Форма модалки */
.form--modal {
  width: 448px;
  min-height: 581px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

legend {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form--modal-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sec-color);
}

.check--modal-box {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sec-color);
}

.form--modal-box input {
  padding: 12px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form--modal-box:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-name {
  margin-top: 4px;
}

.form--modal-box .form-name {
  font-size: 14px;
  line-height: 1.71;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  font: inherit;
  padding: 12px 20px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input:focus + .form--icon {
  fill: #2196f3;
  transition: fill 250ms var(--timing-function);
}

.form--icon {
  position: absolute;
  top: 50%;
  left: 15px;
  /* transform: translateY(-50%); */
}

.form--icon-check {
  fill: #fff;
}

.form-texrarea {
  resize: none;
  padding: 12px 16px;
  font: inherit;
  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  min-height: 120px;
  margin-top: 4px;
  transition: border 250ms var(--timing-function);
}

.form-texrarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.policy-box {
  font-size: 14px;
  color: #757575;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 12px;
}

.policy-box-name {
  margin-left: 25px;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  z-index: 100;
}

.policy-box-check {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
  top: 12px;
  left: 12px;
  transition: background-color 250ms var(--timing-function);
}

.policy-checkbox:checked + .policy-box-check {
  background-color: #2196f3;

  border: none;
}

.policy-box a {
  color: #2196f3;
  text-decoration: underline;
}

.form-submit-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.form-submit-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
