body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
